.ishop
{
  border: double gray 3px;
  width: 800px;
  min-height: 100px ;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.ishop .ishop__Name
{
  font-weight: bold;
  text-align: center;
}

.ishop .ishop__Products
{
  padding-top: 5px;
  vertical-align: middle;

}

.ishop .ishop__Products .ishop__Product
{
  padding: 5px;
  margin: 10px;
  width: 98%;
  min-height: 25px;
  font-weight: bold;
  text-align: left;
  background-color: rgb(41, 179, 179);
 
   }
.ishop .ishop__Products .ishop__Product .PRODUCT
{
  float: left;
  width: 15%;
  font-weight: bold;
  text-align: left;
   
}
.ishop .ishop__Products .ishop__Product .PRICE
{
  float: left;
  width: 15%;
  font-weight: bold;
  text-align: left;
  
}
.ishop .ishop__Products .ishop__Product .URL
{
  float: left;
  width: 40%;
  font-weight: bold;
  text-align: left;
  
}
.ishop .ishop__Products .ishop__Product .FREE
{
  float: left;
  width: 28%;
  font-weight: bold;
  text-align: left;
  
}
